# Node.js
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build and Tooling
dist/
dist-electron/
release/
.cache/
.parcel-cache/
.vite/
.workspace/

# Environment / Secret Files
.env
.env.local
.env.*.local
*.pem

# OS / Misc
.DS_Store
Thumbs.db
desktop.ini
$RECYCLE.BIN/
*.bak
*.tmp
*.log

# IDEs
.vscode/
!.vscode/settings.json
!.vscode/extensions.json
.idea/
*.sublime-project
*.sublime-workspace

# Project Specific
Assets/
.agent/
.antigravity/
