# Node / npm
node_modules/
npm-debug.log
yarn-error.log
.cache/
coverage/

# Build outputs
dist/
dist-electron/
release/

# Environment
.env
.env.local
.env.*.local

# OS
.DS_Store
Thumbs.db

# Temp / backup
*.log
*.bak
*.tmp
*.swp
*~

# IDE
.idea/
*.sublime-*
.vscode/

#Some Shit Files 
Assets/
